<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nway.spring.jdbc.performance.mapper.ComputerMapper">

    <select id="getComputerById" resultMap="computerMap">
        <include refid="computer"/>
        where c.id = #{id}
    </select>

    <select id="getById" resultMap="computerMap">
        SELECT c.id                    computer_id,
               c.brand                 computer_brand,
               c.model                 computer_model,
               c.photo                 computer_photo,
               c.price                 computer_price,
               c.production_date       computer_production_date,
               cu.user                 user,
               mf.id                   mainframe_id,
               mf.brand                mainframe_brand,
               mf.model                mainframe_model,
               mf.photo                mainframe_photo,
               mf.price                mainframe_price,
               mf.production_date      mainframe_production_date,
               mf.type                 mainframe_type,
               monitor.id              monitor_id,
               monitor.brand           monitor_brand,
               monitor.model           monitor_model,
               monitor.photo           monitor_photo,
               monitor.price           monitor_price,
               monitor.max_resolution  monitor_max_resolution,
               monitor.production_date monitor_production_date,
               monitor.type            monitor_type,
               k.id                    keyboard_id,
               k.brand                 keyboard_brand,
               k.color                 keyboard_color,
               k.model                 keyboard_model,
               k.photo                 keyboard_photo,
               k.price                 keyboard_price,
               k.interface_type        keyboard_interface_type,
               k.production_date       keyboard_production_date,
               k.type                  keyboard_type,
               k.is_wireless           keyboard_wireless,
               mouse.id                mouse_id,
               mouse.brand             mouse_brand,
               mouse.color             mouse_color,
               mouse.model             mouse_model,
               mouse.photo             mouse_photo,
               mouse.price             mouse_price,
               mouse.production_date   mouse_production_date,
               mouse.type              mouse_type,
               mouse.is_wireless       mouse_wireless,
               s.id                    software_id,
               s.name                  software_name,
               s.file_size             software_size,
               s.vender                software_vender,
               s.version               software_version
        FROM t_computer c
                 left JOIN
             t_computer_user cu on c.id = cu.fk
             left join
             t_mainframe mf ON c.mainframe_id = mf.id
                 left JOIN
             t_monitor monitor ON c.monitor_id = monitor.id
                 left JOIN
             t_keyboard k ON c.keyboard_id = k.id
                 left JOIN
             t_mouse mouse ON c.mouse_id = mouse.id
                 left join
             t_computer_software cs on cs.COMPUTER_ID = c.id
                 left join
             t_software s on cs.software_id = s.id
        where c.id = #{id}
    </select>

    <select id="listComputer" resultMap="computerMap">
        <include refid="computer"/>
    </select>

    <select id="getMonitorById" resultType="com.nway.spring.jdbc.performance.entity.Monitor">
        select *
        from t_monitor
        where id = #{id}
    </select>

    <select id="listMonitor" resultType="com.nway.spring.jdbc.performance.entity.Monitor">
        select *
        from t_monitor
    </select>

    <sql id="computer">
        SELECT c.id                    computer_id,
               c.brand                 computer_brand,
               c.model                 computer_model,
               c.photo                 computer_photo,
               c.price                 computer_price,
               c.production_date       computer_production_date,
               cu.user                 user,
               mf.id                   mainframe_id,
               mf.brand                mainframe_brand,
               mf.model                mainframe_model,
               mf.photo                mainframe_photo,
               mf.price                mainframe_price,
               mf.production_date      mainframe_production_date,
               mf.type                 mainframe_type,
               monitor.id              monitor_id,
               monitor.brand           monitor_brand,
               monitor.model           monitor_model,
               monitor.photo           monitor_photo,
               monitor.price           monitor_price,
               monitor.max_resolution  monitor_max_resolution,
               monitor.production_date monitor_production_date,
               monitor.type            monitor_type,
               k.id                    keyboard_id,
               k.brand                 keyboard_brand,
               k.color                 keyboard_color,
               k.model                 keyboard_model,
               k.photo                 keyboard_photo,
               k.price                 keyboard_price,
               k.interface_type        keyboard_interface_type,
               k.production_date       keyboard_production_date,
               k.type                  keyboard_type,
               k.is_wireless           keyboard_wireless,
               mouse.id                mouse_id,
               mouse.brand             mouse_brand,
               mouse.color             mouse_color,
               mouse.model             mouse_model,
               mouse.photo             mouse_photo,
               mouse.price             mouse_price,
               mouse.production_date   mouse_production_date,
               mouse.type              mouse_type,
               mouse.is_wireless       mouse_wireless,
               s.id                    software_id,
               s.name                  software_name,
               s.file_size             software_size,
               s.vender                software_vender,
               s.version               software_version
        FROM t_computer c
                 left JOIN
             t_computer_user cu on c.id = cu.fk
                 left JOIN
             t_mainframe mf ON c.mainframe_id = mf.id
                 left JOIN
             t_monitor monitor ON c.monitor_id = monitor.id
                 left JOIN
             t_keyboard k ON c.keyboard_id = k.id
                 left JOIN
             t_mouse mouse ON c.mouse_id = mouse.id
                 left join
             t_computer_software cs on cs.COMPUTER_ID = c.id
                 left join
             t_software s on cs.software_id = s.id
    </sql>

    <resultMap id="computerMap" type="com.nway.spring.jdbc.performance.entity.Computer">
        <id property="id" column="computer_id"/>
        <result property="brand" column="computer_brand"/>
        <result property="model" column="computer_model"/>
        <result property="price" column="computer_price"/>
        <result property="productionDate" column="computer_production_date"/>
        <result property="photo" column="computer_photo"/>
        <association property="mainframe" column="mainframe_id"
                     javaType="com.nway.spring.jdbc.performance.entity.Mainframe" foreignColumn="mainframe_id">
            <id property="id" column="mainframe_id"/>
            <result property="brand" column="mainframe_brand"/>
            <result property="model" column="mainframe_model"/>
            <result property="price" column="mainframe_price"/>
            <result property="type" column="mainframe_type"/>
            <result property="productionDate" column="mainframe_production_date"/>
            <result property="photo" column="mainframe_photo"/>
        </association>
        <association property="monitor" column="monitor_id"
                     javaType="com.nway.spring.jdbc.performance.entity.Monitor">
            <id property="id" column="monitor_id"/>
            <result property="brand" column="monitor_brand"/>
            <result property="model" column="monitor_model"/>
            <result property="price" column="monitor_price"/>
            <result property="type" column="monitor_type"/>
            <result property="maxResolution" column="monitor_max_resolution"/>
            <result property="productionDate" column="monitor_production_date"/>
            <result property="photo" column="monitor_photo"/>
        </association>
        <association property="keyboard" column="keyboard_id"
                     javaType="com.nway.spring.jdbc.performance.entity.Keyboard">
            <id property="id" column="keyboard_id"/>
            <result property="brand" column="keyboard_brand"/>
            <result property="model" column="keyboard_model"/>
            <result property="price" column="keyboard_price"/>
            <result property="type" column="keyboard_type"/>
            <result property="interfaceType" column="keyboard_interface_type"/>
            <result property="isWireless" column="keyboard_wireless"/>
            <result property="color" column="keyboard_color"/>
            <result property="productionDate" column="keyboard_production_date"/>
            <result property="photo" column="keyboard_photo"/>
        </association>
        <association property="mouse" column="mouse_id" javaType="com.nway.spring.jdbc.performance.entity.Mouse"
                     foreignColumn="mouse_id">
            <id property="id" column="mouse_id"/>
            <result property="brand" column="mouse_brand"/>
            <result property="model" column="mouse_model"/>
            <result property="price" column="mouse_price"/>
            <result property="type" column="mouse_type"/>
            <result property="isWireless" column="mouse_wireless"/>
            <result property="color" column="mouse_color"/>
            <result property="productionDate" column="mouse_production_date"/>
            <result property="photo" column="mouse_photo"/>
        </association>
        <collection property="software" ofType="com.nway.spring.jdbc.performance.entity.Software">
            <id property="id" column="software_id"/>
            <result property="name" column="software_name"/>
            <result property="size" column="software_size"/>
            <result property="vender" column="software_vender"/>
            <result property="version" column="software_version"/>
        </collection>
        <collection property="userList" resultMap="userMap"/>
    </resultMap>
    
    <resultMap id="userMap" type="string">
        <result column="user"/>
    </resultMap>

    <select id="software" resultType="com.nway.spring.jdbc.performance.entity.Software">
        select *
        from t_software s,
             t_computer_software cs
        where s.id = cs.software_id
          and cs.COMPUTER_ID = #{id}
    </select>

</mapper>